* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 26.6667vw;
}
body {
  font-size: 0.14rem;
  font-family: -apple-system, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #f7f7f7;
}
a {
  text-decoration: none;
  color: #666;
}
li {
  list-style: none;
}
input {
  border: 0;
  outline: none;
}
img {
  /* 解决图片底部3px间隙问题 */
  vertical-align: middle;
}
i {
  /* 去掉斜体 */
  font-style: normal;
}
.bt {
  border-top: 0.01rem solid #dddddd;
}
.bb {
  border-bottom: 0.01rem solid #dddddd;
}
.bl {
  border-left: 0.01rem solid #dddddd;
}
.br {
  border-right: 0.01rem solid #dddddd;
}
